/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.tcalInput {
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 250px;
	background-color: white;
	margin-top: 2px;
	border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
	-moz-box-shadow: 0 0 4px silver;
	-webkit-box-shadow: 0 0 4px silver;
	box-shadow: 0 0 4px silver;
}

#tcal * {
    border: none !important; /* @todo: hvor fanden kommer de borders fra? */
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
    height: 30px;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 38px;
    height: 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 1em;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
    overflow: hidden;
    width: 94px;
}

#tcalNextYear, #tcalPrevYear, #tcalPrevMonth, #tcalNextMonth { text-align:center; }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-size: 14px;
	color: #000;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	width: 14%;
    height: 25px;
    line-height: 25px;
	font-size: 14px;
	cursor: pointer;
}
#tcalGrid td:hover {
    border-radius: 5px;
    background-color: #ccc !important;
}
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected {
    border-radius: 5px;
    background-color: #343434;
    color: #fff;
}		
